* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {

  margin: 0;
}

/* made the nagigation with padding and margin and gaps baseline and header h1*/
header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 20px;
  align-items: baseline;
}
header h1{
  background-color: rgb(196, 198, 248);
  padding: 10px;

}
/*navigation bar*/
nav{
  display: flex;
  flex-grow: 1;
  justify-content: right;
  gap:20px;
}
nav a{
  color: rgb(85, 88, 158);
  text-decoration: none;
}
/*set up the image and text position .hero-banner h2*/
.hero-banner{
  background-image: url("../images/02-hero-bg.jpg");
  height: 500px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 20px;
  }
  .hero-banner h2{
  background-color: rgb(196, 198, 248);
  padding: 10px;
}
/*setting the about me work and content with the same style and .page-section .content */
.page-section{
  grid-template-columns: 20% auto;
  grid-template-rows: auto;
  gap: 50px;
  padding: 50px;
  display: grid;
  
}


.contact .content{
  display: flex;
  flex-flow: row wrap;
  gap:20px;
 
}
/* work section right hand side */
#work .content {
 display: flex;
 flex-wrap: wrap;
 gap:10px;
}
.picture{
  flex-grow: 1;
  background-color: brown;
 height: 100px;

}
/* putting picture across the top*/
.topone {
  flex-grow: 1;
  flex-basis: 100%;
}
/*putting images on for each project*/
#portfolio-1{
background-image: url(..//images/02-portfolio-1.jpg);
}
#portfolio-2{
  background-image: url(../images/02-portfolio-2.jpg);

}
#portfolio-3{
  background-image: url(../images/02-portfolio-3.jpg);

}
#portfolio-4{
  background-image: url(../images/02-portfolio-4.jpg);

}
#run-buddy{
  background-image: url(../images/02-run-buddy.jpg);

}
/* adding media query to view for phone*/
@media only screen and (max-width: 600px) {
  .page-section {
    display: block;
  }
} 